<a href="https://colab.research.google.com/github/atnawshin/Machine-Learning/blob/main/Translator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip3 install googletrans==3.1.0a0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.0 MB/s
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.6.15)
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Collecting hstspreload
  Downloading hstspreload-2022.8.1-py3-none-any.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 11.3 MB/s
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.2 MB/s
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.0 MB/s
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 3.0 MB/s
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16367 sha256=0326ae9bbf9f0c5baade1513157c0840d007d973a50f1877b9c18737fe4c9949
  Stored in directory: /root/.cache/pip/wheels/0c/be/fe/93a6a40ffe386e16089e44dad9018ebab9dc4cb9eb7eab65ae
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2022.8.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0

In [9]:
import pandas as pd
#Reading the excel file
df = pd.read_excel('Restaurant.xlsx')
df.head()   # we are going to translate the column last_comment_from_farmer

,SL,Text,Category,Polarity
0,0,"স্টাফ কিন্তু, আমাদের জন্য ভয়ঙ্কর ছিল।",service,negative
1,1,"শুধুমাত্র,রিডামিং ফ্যাক্টর খাদ্য ছিল,পুরোপুরি ...",food,positive
2,2,"শুধুমাত্র,রিডামিং ফ্যাক্টর খাদ্য ছিল,পুরোপুরি ...",anecdotes/miscellaneous,negative
3,3,"খাবার একদমই ব্যতিক্রমী, একটি খুব সক্ষম রান্নাঘ...",food,positive
4,4,যেখানে গাব্রিয়েলা লোকালি আপনাকে শুভেচ্ছা জানা...,service,positive

In [11]:
#Translate the other languages to english
import googletrans
from googletrans import *
translator = googletrans.Translator()

df['Text'] = df['Text'].astype(str) #changing datatype to string
df['translated_Text'] = df['Text'].apply(translator.translate, src='auto', dest='en').apply(getattr, args=('text',))
df

,SL,Text,Category,Polarity,translated_Text
0,0,"স্টাফ কিন্তু, আমাদের জন্য ভয়ঙ্কর ছিল।",service,negative,"The staff however, was horrible for us."
1,1,"শুধুমাত্র,রিডামিং ফ্যাক্টর খাদ্য ছিল,পুরোপুরি ...",food,positive,"The only redeeming factor was the food, to be ..."
2,2,"শুধুমাত্র,রিডামিং ফ্যাক্টর খাদ্য ছিল,পুরোপুরি ...",anecdotes/miscellaneous,negative,"The only redeeming factor was the food, to be ..."
3,3,"খাবার একদমই ব্যতিক্রমী, একটি খুব সক্ষম রান্নাঘ...",food,positive,"The food is absolutely exceptional, a very cap..."
4,4,যেখানে গাব্রিয়েলা লোকালি আপনাকে শুভেচ্ছা জানা...,service,positive,"Where Gabriela Locali greets you, and advises ..."
...,...,...,...,...,...
2054,2108,"তাই এটি এখন একটি খুব আকর্ষণীয় স্থান,Toons সম্...",ambience,positive,"So it's a very interesting place now,Toons has..."
2055,2109,একটি অ্যাভাইজার এবং ড্রিংক2 টি ফাইলের জন্য $ 1...,food,neutral,"$160, 2 sides, for an avisor and drink2 files."
2056,2110,একটি অ্যাভাইজার এবং ড্রিংক2 টি ফাইলের জন্য $ 1...,price,neutral,"$160, 2 sides, for an avisor and drink2 files."
2057,2111,"অংশ বিশাল ছিল,দাম বিশেষ কিছু না হলেও,",price,positive,"Portions were huge, prices nothing special."
2058,2112,"অংশ বিশাল ছিল,দাম বিশেষ কিছু না হলেও,",food,positive,"Portions were huge, prices nothing special."

In [12]:
#import pandas as pd
#Reading the excel file
df = pd.read_excel('sample.xlsx')
df.head()   # we are going to translate the column last_comment_from_farmer

,Number,User Name,Sex,Marital status,Occupation,Age,User Description / About,Location(Division),Time Acount Was Created,No. Of Friends,Followers,Date of Post,Time of Post,Label,Post
0,1,Md Tarek,Male,Married,Business,30-35,I am an handsome boy.,Chattogram,40919,874.0,NaN,2022-10-05,0.691667,1,Sacrifice without father is very sad. Remember...
1,2,TR Raihan,Male,Single,Student,21-25,Be Careful What you Tell People. A Friend Toda...,Chattogram,NaN,NaN,37,2022-06-07,0.419444,1,Feeling unbearable is terrible 😅👈
2,3,Maharaj Chy Oni,Male,Single,Student,21-25,1 index ☝The roar of 1 thunder 🗣 1 red green f...,Chattogram,NaN,NaN,NaN,2022-06-30,0.107639,1,"⭕ In these rainy days, Let us be a little more..."
3,4,Arif Ullah,Male,Single,Student,25-30,"To whom personal rights arise, Can't tolerate ...",Chattogram,NaN,NaN,368,2022-06-30,0.657639,1,"Sky why are you cloudy, Who told you? Have you..."
4,5,Mirza Safayat,Male,Single,Student,25-30,NaN,Chattogram,NaN,NaN,NaN,2022-07-13,0.125000,1,I'm very depressed

In [13]:
#Translate the other languages to Bangla
import googletrans
from googletrans import *
translator = googletrans.Translator()

df['Post'] = df['Post'].astype(str) #changing datatype to string
df['translated_Post'] = df['Post'].apply(translator.translate, src='auto', dest='bn').apply(getattr, args=('text',))
df

,Number,User Name,Sex,Marital status,Occupation,Age,User Description / About,Location(Division),Time Acount Was Created,No. Of Friends,Followers,Date of Post,Time of Post,Label,Post,translated_Post
0,1,Md Tarek,Male,Married,Business,30-35,I am an handsome boy.,Chattogram,40919,874.0,NaN,2022-10-05,0.691667,1,Sacrifice without father is very sad. Remember...,পিতা ছাড়া বলিদান বড়ই দুঃখের। বারবার শুধু বাব...
1,2,TR Raihan,Male,Single,Student,21-25,Be Careful What you Tell People. A Friend Toda...,Chattogram,NaN,NaN,37,2022-06-07,0.419444,1,Feeling unbearable is terrible 😅👈,অসহ্য অনুভূতি ভয়ানক 😅👈
2,3,Maharaj Chy Oni,Male,Single,Student,21-25,1 index ☝The roar of 1 thunder 🗣 1 red green f...,Chattogram,NaN,NaN,NaN,2022-06-30,0.107639,1,"⭕ In these rainy days, Let us be a little more...","⭕ এই বৃষ্টির দিনে, আসুন আমরা রাস্তায় হাঁটার স..."
3,4,Arif Ullah,Male,Single,Student,25-30,"To whom personal rights arise, Can't tolerate ...",Chattogram,NaN,NaN,368,2022-06-30,0.657639,1,"Sky why are you cloudy, Who told you? Have you...","আকাশ তুমি মেঘলা কেন, তোমাকে কে বলেছে? আজ রোদের..."
4,5,Mirza Safayat,Male,Single,Student,25-30,NaN,Chattogram,NaN,NaN,NaN,2022-07-13,0.125000,1,I'm very depressed,আমি খুব বিষণ্ণ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,69,Tafazzal Hossain (নিশাচর সৈনিক),Male,Single,Employee,NaN,"""Every day brings new challenges And It has to...",Dhaka,NaN,NaN,NaN,2022-07-13,14.480000,0,"Keep me with love forever, so that I fall in l...","আমাকে চিরকাল ভালোবেসে রাখো, যাতে আমি বৃদ্ধ বয়..."
69,70,Tafazzal Hossain (নিশাচর সৈনিক),Male,Single,Employee,NaN,"""Every day brings new challenges And It has to...",Dhaka,NaN,NaN,NaN,2022-07-05,2.540000,1,"Very sick mentally, need some peace of mind! '🥺🖤","মানসিকভাবে খুব অসুস্থ, মনের শান্তি দরকার! ' 🥺🖤"
70,71,Tafazzal Hossain (নিশাচর সৈনিক),Male,Single,Employee,NaN,"""Every day brings new challenges And It has to...",Dhaka,NaN,NaN,NaN,2022-07-03,4.030000,0,Oh Allah! ❤️🤲 °Change me like this😇 °The way y...,হে আল্লাহ! ❤️🤲 °আমাকে এভাবে বদলে দাও😇 °যেভাবে ...
71,72,Tafazzal Hossain (নিশাচর সৈনিক),Male,Single,Employee,NaN,"""Every day brings new challenges And It has to...",Dhaka,NaN,NaN,NaN,2022-06-30,17.540000,1,"There comes a time when you realize, there was...","একটা সময় আসে যখন আপনি বুঝতে পারেন, সবার সাথে ..."
72,73,Tafazzal Hossain (নিশাচর সৈনিক),Male,Single,Employee,NaN,"""Every day brings new challenges And It has to...",Dhaka,NaN,NaN,NaN,2022-06-09,13.100000,1,Silence speaks when words become silent😒,শব্দগুলো চুপ হয়ে গেলে নীরবতা কথা বলে😒